* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

body {
  background-color: #E9F9FF;;
}

/* Top bar */
.top-bar {
  background-color: #001b4a;
  padding: 16px 30px;
}

.top-bar .back {
  color: #E9F9FF;;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar .back i{
  font-size: 18px;
}
.top-bar .back span{
  font-size: 28px;
  letter-spacing: 1px;
}

/* Layout */
.layout {
  display: flex;
  min-height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #001b4a;
  padding: 30px 20px;
}

.sidebar a {
  display: block;
  color: #E9F9FF;;
  text-decoration: none;
  padding: 12px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* ACTIVE / SELECTED STATE */
.sidebar a.active {
  background-color: #E9F9FF;;
  color: #001b4a;
  font-weight: bold;
}

/* Content */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background-color: #E9F9FF;;
  padding: 20px;
  width: 700px;
  border-radius: 15px;
}

/* Profile header */
.profile-head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}

.avatar {
  width: 70px;
  height: 70px;
  background-color: #001b4a;
  color: #E9F9FF;;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

/* Form */
form label {
  display: block;
  margin: 15px 0 6px;
  font-size: 25px;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #8aa1ad;
}

form button {
  margin-top: 30px;
  background-color: #001b4a;
  color: #E9F9FF;
  border: none;
  padding: 10px 28px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
}
